body {
 padding: 10px;
}

body::after {
    content: "";
    background-image: url("library.jpg");
    background-repeat: no-repeat;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-size: cover;
}

.hide {
    display: none;
}

.show-book {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    
    color: #444;
}

.p1 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.container-new {
    margin: auto;
    padding-top: 10px;
    flex-direction: column;
    width: 500px ;
    text-align: center;
}

input[type= text] {
    width: 500px;
    margin-bottom: 10px;
}

input[type= number] {
    width: 500px;
    margin-bottom: 10px;
}

.card {
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
}

.new-book {
    color: #17a2b8;
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    width: 80px;
    height: 80px;
    border-radius: 70px;
    border-color: #17a2b8;
    box-shadow: 1px 1px 5px #17a2b8;
    text-shadow:1px 1px 1px black, 2px 2px 5px #17a2b8;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: flex-end;
}

.top {
    padding-top: 10px;
}

h1 {
    color: #17a2b8;
}

@media only screen and (max-width: 600px) {
    .container-new {
        width: 100%;
    }

    input[type= text] {
        width: 100%;
        margin-bottom: 10px;
    }
    
    input[type= number] {
        width: 100%;
        margin-bottom: 10px;
    }

    .new-book {
        margin-top: 20px;
    }
}